@media (min-width: 1024px) {
  .cagtegories {
    display: flex;
    flex-direction: column;
  }

  h4::before {
    content: "----";
  }

  h4 {
    color: red;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0;
  }

  h5 {
    font-weight: bold;
    font-size: 3.2rem;
    color: #393280;
    margin: 0;
  }

  .heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
  }

  .categories-button {
    margin-top: 10px;
  }

  button {
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #e5e3da;
    width: 45px;
    height: 45px;
    cursor: pointer;
    margin-right: 30px;
  }

  button img {
    width: 30px;
    height: 30px;
    fill: #e5e3da;
  }

  .selected {
    background-color: orangered;
    border: 0;
  }

  .selected img {
    fill: white;
  }

  .ad {
    display: flex;
    /* gap: 30; */
    justify-content: space-between;
    align-items: center;
  }

  .ad h2 {
    color: #393280;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 600;
  }

  .btn--outline {
    background-color: transparent;
    border: 1px solid #393280;
    border-radius: 7px;
    padding: 2rem 3rem;
    color: #393280;
    cursor: pointer;
    text-decoration: none;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  .btn--outline::after {
    content: "-->";
    color: #393280;
    padding-left: 10px;
  }
}
