@media (min-width: 1024px) {
  h4::before {
    content: "----";
  }

  h4 {
    color: red;
    font-size: 1.4rem;
    font-weight: bold;
  }

  h5 {
    font-weight: bold;
    font-size: 3.2rem;
    color: #393280;
    margin: 0;
  }
  button {
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #e5e3da;
    width: 45px;
    height: 45px;
    cursor: pointer;
    margin-right: 30px;
  }

  button img {
    width: 30px;
    height: 30px;
    fill: #e5e3da;
  }

  .selected {
    background-color: orangered;
    border: 0;
  }

  .selected img {
    fill: white;
  }

  .ad {
    display: flex;
    gap: 30px;
  }
}
